
.container{
            margin-bottom: 50px;
}
.ln{   
        margin-top: 20px;
}
.{
        padding-bottom: 40px;
}

#bg1{    padding-bottom: 15px;
        background-color: #F0FFF0;
}
.button{
    background-color:#21B573;
    padding: 8px 20px;
    border:none;
    border-radius: 21px;
}
.button:hover{
         background-color:#09ab5f;
}

a{
    margin-right: 30px;
}

h1,h2,h5{ font-family: 'Poppins', sans-serif;

}
span{
        color: #21B573;
}
.l p{
    padding:20px 0px;
}
.l{ padding-left: 10px;
    padding-top: 40px;
}
.ilustration{
                padding-top: 40px;
                padding-left: 90px;
}

.cat{   background-color:#F8FFFB ;
        border-radius: 20px;
         height: 270px;
         width: 270px;
         margin-top: 20px;
         margin-left: 20px;
}
.cat:hover{
            background-color:rgb(255, 255, 255);
            box-shadow: 0px 15px 20px lightgrey;
}
.cat img{
            padding-top: 40px;
            padding-bottom: 25px;

}
.cat h4{    color: #413960;
            padding: 3px 0px;
}
            #h{
                    padding-top: 21px;
         }


.lm{    margin-top: 60px;
        margin-left: 90px;
}
.c:hover{
        box-shadow: 0px 20px 40px lightgrey;
}
/* .test{  padding-top: 60px;
        padding-left: 300px;
} */
.foot{  
        background-color: #282531;
}
.s{
        padding-top: 170px; 
}


footer{
        padding-top:10%;
        padding-left: 45%;
}
nav a{  color: white; 
        text-decoration: none;
}
.g a:hover{ background-color: #413960;
            width: max-content;
        
}